body{
    font-family: "Happy Monkey", cursive;
    text-align: center;
    background: linear-gradient(#a2d2ff, pink);
    color: #ffffff;
}

#photo{
    width: 200px;
    height: 210px;
    border-radius: 50%;
    border-width: 10%;
    border: 6px solid #efb0c9;
}

.effect{
    text-shadow: 0px 0px 2px black;

}

.bday_info{
    background-color: #efb0c9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift_section{
    margin-top: 40px;
}

.appreciation_note{
    margin-bottom: 6px;
}

.hover_hint{
    margin-top: 6px;
}

#gift{
    margin: 0 auto;
    background-image: url("./Assets/gift.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
}
#gift:hover{
    background-image: url("./Assets/celebration.jpg");
}

#gift1{
    margin: 0 auto;
    background-image: url("./Assets/gift.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
}
#gift1:hover{
    background-image: url("./Assets/reaction.jpg");
}

footer{   
    margin: 70px auto 0px auto;
    font-style: italic;
}

a{
    color: white;
}